:root {
    --color-main: rgb(255, 255, 255);
    --bgcolor-main: rgb(37, 37, 37); 
    --bgcolor-btnprimary: rgb(43, 43, 43); 
    --bgcolor-tableprimary: rgb(60, 60, 60); 
    --bgcolor-tablesecondary: rgb(45, 45, 45); 
}

.color-main{
    color: var(--color-main);
}

.bgcolor-main{
    background-color: var(--bgcolor-main);
}

.bgcolor-btnprimary{
    background-color: var(--bgcolor-btnprimary);
}

.bgcolor-tableprimary{
    background-color: var(--bgcolor-tableprimary);
}

.bgcolor-tablesecondary{
    background-color: var(--bgcolor-tablesecondary);
}

.bordercolor-main{
    border: 1px solid var(--color-main);
}

.menu a:hover, .menu p:hover {
    background-color: rgb(128, 128, 128);
    cursor: pointer;
}

.menu a.active, .menu p.active {
    background-color: #a62020;
}

.bold{
    font-weight: bold;
}