body{
    overflow: hidden;
}

#main_container{
    display: flex;
    overflow: hidden;
}

#content{
    float: right;
    width: 74%;
    height: fit-content;
    overflow: hidden;
}

.horizontal_menu{
    width: 100%;
    display: flex;
    float: none;
    margin: 0;
}

.horizontal_menu a, .horizontal_menu p{
    padding: 2% 0 2% 0;
    width: 16.666%;
    text-align: center;
    font-size: 1vw;
}

#logo{
    width: 20%;
    height: fit-content;
    float: none;
    padding: 0;
    margin: 0 2% 0 2%;
    align-self: center;
}

#phase p{
    width: 50%;
}

#sport_selection{
    margin-top: 2%;
}

hr{
    margin: 0.5% 0 0.5% 0;
}

.frame{
    height: 74%;
    margin: 3% 0 3% 0;
    overflow: hidden;
    /*vertical-align: middle;*/
}

.gold-leader{
    background-image: url("../img/gold.jpg");
}

.silver-leader{
    background-image: url("../img/silver.jpg");
}

.bronze-leader{
    background-image: url("../img/bronze.jpg");
}

/* BRACKET section --------------------------------------------------------------------------------------------------------- */

.bracket{
    height: max-content;
    display: flex;
    flex-direction: row;
    padding: 20px 0 0 0;
    justify-content: center;
}

.team{
    display: flex;
    flex-direction: row;
    width: fit-content;
    border: 1px solid black;
    font-size: 15px;
}

.round p{
    padding: 10px 0 10px 0;
}

.round-title{
    font-size: 20px;
    text-align: center;
    color: rgb(137, 124, 173);
}

.seed{
    background-color: rgb(0, 10, 145);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 40px;
    font-weight: bold;
}

.promo{
    background-color: rgb(129, 129, 129);
    color: rgb(0, 0, 0);
    text-align: center;
    width: 40px;
}

.team-name{
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
    text-align: center;
    width: 150px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.team-score{
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    text-align: center;
    width: 40px;
}

.winner .team-score{
    background-color: rgb(148, 255, 166);
}

.loser .team-score{
    background-color: rgb(255, 189, 189);
}

.gold-medal .team-name{
    background-image: url("../img/gold.jpg");
}

.silver-medal .team-name{
    background-image: url("../img/silver.jpg");
}

.bronze-medal .team-name{
    background-image: url("../img/bronze.jpg");
}



.brace{
    padding: 0;
    margin: 0;
    width: 50px;
}

.braces{
    display: flex;
    flex-direction: column;
    min-width: 50px;
}

.margintop{
    margin-top: 21px !important;
}

.marg-bonus{
    margin-top: 71px !important;
}

.eight-finals .team{
    font-size: 14px;
}

.eight-finals p{
    padding: 5px;
}

.eight-finals .match{
    margin: 3px 0 3px 0;
}

.eight-brace{
    margin-top: 57px;
    height: 61px;
}


.quarter-finals .match{
    margin: 40px 0 40px 0;
}

.quarters-brace{
    margin-top: 100px;
    height: 121px;
    margin-bottom: 16px;
}

.semi-finals .match{
    margin-top: 100px;
    margin-bottom: 157px;
}

.semi-brace{
    margin-top: 158px;
    height: 242px;
}

.final .match, .bronze-medal-game .match{
    margin-top: 219px;
}

.bracket{
    display:none;
}

.no-margin{
    margin-bottom: 15px !important;
}

/* POULES SECTION ------------------------------------------------------------------------------------------------ */

#poules{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

table{
    color: white;
    font-size: 1vw;
}

table th, table td{
    width: 85px;
    padding: 5px;
    margin: 0;
    text-align: center;
}

@media (max-width: 1250px) {
    .bracket {
      overflow-x: scroll;
      justify-content:flex-start;
    }
}

@media (max-width: 1150px) {
    .menu a, menu p{
        font-size: 1.5vw;
    }
}

@media (max-width: 700px) {
    .menu a, .menu p{
        font-size: 2vw;
    }

    #main_container {
      flex-direction: column;
      align-items: center;
    }

    #content{
        width: 95%;
        margin-top: 10px;
    }

    .ButtonDayNight{
        position: absolute;
        left: 10px;
        top: 10px;
        width: 15%;
    }

    @media (max-height: 775px) {
        body {
          overflow-y: scroll;
        }
    }
}

@media (max-height: 700px) {
    #content{
        overflow-y: scroll;
    }
    .bracket{
        height: 520px;
    }
}

@media (max-width: 600px) {
    table th, table td{
        min-width: 35px;
        padding: 5px;
        margin: 0;
        text-align: center;
    }

    #poules{
        overflow-x: scroll;
        justify-content: flex-start;
    }
}
