#content{
    float: right;
    width: 60%;
    margin-right: 5%;
    height: 100%;
    overflow: hidden;
}

.horizontal_menu{
    width: 100%;
    display: flex;
    float: none;
    margin: 0;
}

.horizontal_menu a{
    padding: 15px 0 15px 0;
    width: 16.666%;
    text-align: center;
}

img{
    width: 25%;
}

#phase a{
    width: 50%;
}

#sport_selection{
    margin-top: 2%;
}

hr{
    margin: 0.5% 0 0.5% 0;
}

#frame{
    height: 70%;
    background-color: rgb(78, 78, 78);
    margin: 5% 0 5% 0;
    overflow: scroll;
}